{{ define "main" }}
{{- $g := (site.GetPage "/grammar").RelPermalink }}
<div class="wrap mm-page">
  <div class="page-header">
    <div class="work-kicker">문법 지도</div>
    <h1>{{ .Title }}</h1>
    {{- with .Params.summary }}<p>{{ . }}</p>{{ end }}
    <p class="mm-hint">▸ 가지를 누르면 펼치고 접을 수 있어요. 맨 끝 항목을 누르면 그 정리 글로 이동합니다.</p>
  </div>

  <ul class="gtree">
    <li><details open><summary>국어 문법</summary><ul>

      <li><details open><summary>1. 언어와 국어</summary><ul>
        <li><details open><summary>언어의 본질</summary><ul>
          <li><a class="gleaf" href="{{ $g }}eoneo-bonjil/#언어란">기호성</a></li>
          <li><a class="gleaf" href="{{ $g }}eoneo-bonjil/#언어란">자의성</a></li>
          <li><a class="gleaf" href="{{ $g }}eoneo-bonjil/#언어란">사회성</a></li>
          <li><a class="gleaf" href="{{ $g }}eoneo-bonjil/#언어란">역사성</a></li>
          <li><a class="gleaf" href="{{ $g }}eoneo-bonjil/#언어란">창조성</a></li>
          <li><a class="gleaf" href="{{ $g }}eoneo-bonjil/#언어란">규칙성</a></li>
        </ul></details></li>
        <li><details open><summary>국어의 특질</summary><ul>
          <li><a class="gleaf" href="{{ $g }}gugeo-teukjil/#음운적-특질">음운의 특질(삼중 대립·두음법칙·모음조화)</a></li>
          <li><a class="gleaf" href="{{ $g }}gugeo-teukjil/#어휘적-특질">어휘의 특질(고유어·한자어·외래어·의성의태어)</a></li>
          <li><a class="gleaf" href="{{ $g }}gugeo-teukjil/#문법적-특질">문법의 특질(교착어·SOV·높임법)</a></li>
        </ul></details></li>
      </ul></details></li>

      <li><details open><summary>2. 음운</summary><ul>
        <li><details open><summary>음운의 체계</summary><ul>
          <li><a class="gleaf" href="{{ $g }}eumun-chegye/#자음-체계-19개">자음 체계 (19개)</a></li>
          <li><details open><summary>모음 체계 (21개)</summary><ul>
            <li><a class="gleaf" href="{{ $g }}eumun-chegye/#모음-체계-21개">단모음 (10개)</a></li>
            <li><a class="gleaf" href="{{ $g }}eumun-chegye/#모음-체계-21개">이중모음 (11개)</a></li>
          </ul></details></li>
          <li><a class="gleaf" href="{{ $g }}eumun-chegye/#운소--소리의-길이">운소(소리의 길이)</a></li>
        </ul></details></li>
        <li><details open><summary>음운의 변동</summary><ul>
          <li><details open><summary><a class="gleaf" href="{{ $g }}eumun-byeondong-gyoche/">교체</a></summary><ul>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-gyoche/">음절의 끝소리 규칙</a></li>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-gyoche/">비음화</a></li>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-gyoche/">유음화</a></li>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-gyoche/">구개음화</a></li>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-gyoche/">된소리되기</a></li>
          </ul></details></li>
          <li><details open><summary><a class="gleaf" href="{{ $g }}eumun-byeondong-talrak/">탈락</a></summary><ul>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-talrak/">자음군 단순화</a></li>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-talrak/">'ㅎ' 탈락</a></li>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-talrak/">'ㅡ' 탈락</a></li>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-talrak/">'ㄹ' 탈락</a></li>
          </ul></details></li>
          <li><details open><summary><a class="gleaf" href="{{ $g }}eumun-byeondong-cheomga/">첨가</a></summary><ul>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-cheomga/">'ㄴ' 첨가</a></li>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-cheomga/">사잇소리 현상</a></li>
          </ul></details></li>
          <li><details open><summary><a class="gleaf" href="{{ $g }}eumun-byeondong-chukyak/">축약</a></summary><ul>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-chukyak/">거센소리되기(자음 축약)</a></li>
            <li><a class="gleaf" href="{{ $g }}eumun-byeondong-chukyak/">모음 축약</a></li>
          </ul></details></li>
        </ul></details></li>
      </ul></details></li>

      <li><details open><summary>3. 단어</summary><ul>
        <li><details open><summary>형태소</summary><ul>
          <li><a class="gleaf" href="{{ $g }}hyeongtaeso/#두-가지-분류-기준">자립 형태소 / 의존 형태소</a></li>
          <li><a class="gleaf" href="{{ $g }}hyeongtaeso/#두-가지-분류-기준">실질 형태소 / 형식 형태소</a></li>
          <li><details open><summary>이형태</summary><ul>
            <li><a class="gleaf" href="{{ $g }}hyeongtaeso/#이형태--한-형태소-여러-꼴">음운론적 이형태</a></li>
            <li><a class="gleaf" href="{{ $g }}hyeongtaeso/#이형태--한-형태소-여러-꼴">형태론적 이형태</a></li>
          </ul></details></li>
        </ul></details></li>
        <li><details open><summary>단어의 형성</summary><ul>
          <li><a class="gleaf" href="{{ $g }}daneo-hyeongseong/#단어의-짜임">단일어</a></li>
          <li><details open><summary>파생어</summary><ul>
            <li><a class="gleaf" href="{{ $g }}daneo-hyeongseong/#파생어">접두 파생</a></li>
            <li><a class="gleaf" href="{{ $g }}daneo-hyeongseong/#파생어">접미 파생</a></li>
          </ul></details></li>
          <li><details open><summary>합성어</summary><ul>
            <li><a class="gleaf" href="{{ $g }}daneo-hyeongseong/#합성어--세-가지로-나눈다">대등 / 종속 / 융합</a></li>
            <li><a class="gleaf" href="{{ $g }}daneo-hyeongseong/#합성어--세-가지로-나눈다">통사적 / 비통사적</a></li>
          </ul></details></li>
        </ul></details></li>
        <li><details open><summary>품사</summary><ul>
          <li><details open><summary>체언</summary><ul>
            <li><details open><summary>명사</summary><ul>
              <li><a class="gleaf" href="{{ $g }}pumsa/#명사">보통명사 / 고유명사</a></li>
              <li><a class="gleaf" href="{{ $g }}pumsa/#명사">자립명사 / 의존명사</a></li>
            </ul></details></li>
            <li><details open><summary>대명사</summary><ul>
              <li><a class="gleaf" href="{{ $g }}pumsa/#대명사">인칭 대명사</a></li>
              <li><a class="gleaf" href="{{ $g }}pumsa/#대명사">지시 대명사</a></li>
            </ul></details></li>
            <li><a class="gleaf" href="{{ $g }}pumsa/#수사">수사(양수사·서수사)</a></li>
          </ul></details></li>
          <li><details open><summary>용언</summary><ul>
            <li><a class="gleaf" href="{{ $g }}pumsa/#동사">동사(자동사·타동사)</a></li>
            <li><a class="gleaf" href="{{ $g }}pumsa/#형용사">형용사</a></li>
          </ul></details></li>
          <li><details open><summary>수식언</summary><ul>
            <li><a class="gleaf" href="{{ $g }}pumsa/#관형사">관형사(성상·지시·수)</a></li>
            <li><a class="gleaf" href="{{ $g }}pumsa/#부사">부사(성분·문장)</a></li>
          </ul></details></li>
          <li><details open><summary>관계언 · 조사</summary><ul>
            <li><a class="gleaf" href="{{ $g }}pumsa/#관계언--조사">격조사</a></li>
            <li><a class="gleaf" href="{{ $g }}pumsa/#관계언--조사">접속조사</a></li>
            <li><a class="gleaf" href="{{ $g }}pumsa/#관계언--조사">보조사</a></li>
          </ul></details></li>
          <li><a class="gleaf" href="{{ $g }}pumsa/#독립언--감탄사">독립언 · 감탄사</a></li>
        </ul></details></li>
        <li><details open><summary>단어의 의미 관계</summary><ul>
          <li><a class="gleaf" href="{{ $g }}uimi-gwangye/#의미의-종류">의미의 종류(사전적·함축적)</a></li>
          <li><a class="gleaf" href="{{ $g }}uimi-gwangye/#유의-관계">유의 관계</a></li>
          <li><details open><summary>반의 관계</summary><ul>
            <li><a class="gleaf" href="{{ $g }}uimi-gwangye/#반의-관계">정도 반의어</a></li>
            <li><a class="gleaf" href="{{ $g }}uimi-gwangye/#반의-관계">상보 반의어</a></li>
            <li><a class="gleaf" href="{{ $g }}uimi-gwangye/#반의-관계">방향 반의어</a></li>
          </ul></details></li>
          <li><a class="gleaf" href="{{ $g }}uimi-gwangye/#상하-관계">상하 관계</a></li>
          <li><a class="gleaf" href="{{ $g }}uimi-gwangye/#다의어와-동음이의어--한-형태-여러-뜻">다의어 / 동음이의어</a></li>
        </ul></details></li>
      </ul></details></li>

      <li><details open><summary>4. 어휘</summary><ul>
        <li><details open><summary>어휘의 체계(어종)</summary><ul>
          <li><a class="gleaf" href="{{ $g }}eohwi/#어종--삼중-체계">고유어</a></li>
          <li><a class="gleaf" href="{{ $g }}eohwi/#어종--삼중-체계">한자어</a></li>
          <li><a class="gleaf" href="{{ $g }}eohwi/#어종--삼중-체계">외래어</a></li>
        </ul></details></li>
        <li><details open><summary>어휘의 양상</summary><ul>
          <li><a class="gleaf" href="{{ $g }}eohwi/#어휘의-양상">방언</a></li>
          <li><a class="gleaf" href="{{ $g }}eohwi/#어휘의-양상">은어 · 속어</a></li>
          <li><a class="gleaf" href="{{ $g }}eohwi/#관용어와-속담">관용어 · 속담</a></li>
          <li><a class="gleaf" href="{{ $g }}eohwi/#어휘의-양상">전문어 · 새말</a></li>
        </ul></details></li>
      </ul></details></li>

      <li><details open><summary>5. 문장</summary><ul>
        <li><details open><summary>문장 성분</summary><ul>
          <li><details open><summary>주성분</summary><ul>
            <li><a class="gleaf" href="{{ $g }}munjang-seongbun/#주성분">주어</a></li>
            <li><a class="gleaf" href="{{ $g }}munjang-seongbun/#주성분">서술어</a></li>
            <li><a class="gleaf" href="{{ $g }}munjang-seongbun/#주성분">목적어</a></li>
            <li><a class="gleaf" href="{{ $g }}munjang-seongbun/#주성분">보어</a></li>
          </ul></details></li>
          <li><details open><summary>부속 성분</summary><ul>
            <li><a class="gleaf" href="{{ $g }}munjang-seongbun/#부속-성분--독립-성분">관형어</a></li>
            <li><a class="gleaf" href="{{ $g }}munjang-seongbun/#부속-성분--독립-성분">부사어</a></li>
          </ul></details></li>
          <li><a class="gleaf" href="{{ $g }}munjang-seongbun/#부속-성분--독립-성분">독립어</a></li>
          <li><a class="gleaf" href="{{ $g }}munjang-seongbun/#서술어의-자릿수">서술어의 자릿수</a></li>
        </ul></details></li>
        <li><details open><summary>문장의 짜임</summary><ul>
          <li><a class="gleaf" href="{{ $g }}munjang-jjaeim/#홑문장과-겹문장">홑문장 / 겹문장</a></li>
          <li><details open><summary>안은문장</summary><ul>
            <li><a class="gleaf" href="{{ $g }}munjang-jjaeim/#안은문장--다섯-가지-안긴-절">명사절</a></li>
            <li><a class="gleaf" href="{{ $g }}munjang-jjaeim/#안은문장--다섯-가지-안긴-절">관형절</a></li>
            <li><a class="gleaf" href="{{ $g }}munjang-jjaeim/#안은문장--다섯-가지-안긴-절">부사절</a></li>
            <li><a class="gleaf" href="{{ $g }}munjang-jjaeim/#안은문장--다섯-가지-안긴-절">서술절</a></li>
            <li><a class="gleaf" href="{{ $g }}munjang-jjaeim/#안은문장--다섯-가지-안긴-절">인용절</a></li>
          </ul></details></li>
          <li><details open><summary>이어진문장</summary><ul>
            <li><a class="gleaf" href="{{ $g }}munjang-jjaeim/#이어진문장--절과-절이-나란히">대등하게 이어짐</a></li>
            <li><a class="gleaf" href="{{ $g }}munjang-jjaeim/#이어진문장--절과-절이-나란히">종속적으로 이어짐</a></li>
          </ul></details></li>
        </ul></details></li>
        <li><details open><summary>문법 요소</summary><ul>
          <li><a class="gleaf" href="{{ $g }}munbeop-yoso/#1-종결-표현">종결 표현(평서·의문·명령·청유·감탄)</a></li>
          <li><details open><summary>높임 표현</summary><ul>
            <li><a class="gleaf" href="{{ $g }}munbeop-yoso/#2-높임-표현">주체 높임</a></li>
            <li><a class="gleaf" href="{{ $g }}munbeop-yoso/#2-높임-표현">객체 높임</a></li>
            <li><a class="gleaf" href="{{ $g }}munbeop-yoso/#2-높임-표현">상대 높임</a></li>
          </ul></details></li>
          <li><a class="gleaf" href="{{ $g }}munbeop-yoso/#3-시간-표현-시제">시간 표현(과거·현재·미래·동작상)</a></li>
          <li><a class="gleaf" href="{{ $g }}munbeop-yoso/#4-피동사동-표현">피동 · 사동</a></li>
          <li><a class="gleaf" href="{{ $g }}munbeop-yoso/#5-부정-표현">부정 표현('안'·'못')</a></li>
        </ul></details></li>
      </ul></details></li>

      <li><details open><summary>6. 담화</summary><ul>
        <li><details open><summary>발화의 기능</summary><ul>
          <li><a class="gleaf" href="{{ $g }}damhwa/#발화의-기능--직접-발화와-간접-발화">직접 발화</a></li>
          <li><a class="gleaf" href="{{ $g }}damhwa/#발화의-기능--직접-발화와-간접-발화">간접 발화</a></li>
        </ul></details></li>
        <li><a class="gleaf" href="{{ $g }}damhwa/#담화의-구성-요소">구성 요소(화자·청자·전언·맥락)</a></li>
        <li><details open><summary>담화의 표현</summary><ul>
          <li><a class="gleaf" href="{{ $g }}damhwa/#담화의-표현">지시 표현</a></li>
          <li><a class="gleaf" href="{{ $g }}damhwa/#담화의-표현">대용 표현</a></li>
          <li><a class="gleaf" href="{{ $g }}damhwa/#담화의-표현">접속 표현</a></li>
        </ul></details></li>
        <li><a class="gleaf" href="{{ $g }}damhwa/#좋은-담화의-요건">통일성 · 응집성</a></li>
      </ul></details></li>

      <li><details open><summary>7. 국어의 역사</summary><ul>
        <li><details open><summary>훈민정음</summary><ul>
          <li><a class="gleaf" href="{{ $g }}hunminjeongeum/#제자-원리--초성자음">제자 원리(초성·중성·종성)</a></li>
          <li><a class="gleaf" href="{{ $g }}hunminjeongeum/#한글의-우수성">한글의 우수성</a></li>
        </ul></details></li>
        <li><details open><summary>중세 국어</summary><ul>
          <li><a class="gleaf" href="{{ $g }}jungse-gugeo/#음운">음운(성조·된소리·ㅸㅿ)</a></li>
          <li><a class="gleaf" href="{{ $g }}jungse-gugeo/#표기">표기(8종성·이어적기·사잇소리)</a></li>
          <li><a class="gleaf" href="{{ $g }}jungse-gugeo/#문법">문법(주격 이/ㅣ·높임 선어말어미)</a></li>
        </ul></details></li>
        <li><details open><summary>근대 · 현대 국어</summary><ul>
          <li><a class="gleaf" href="{{ $g }}geundae-gugeo/#국어사의-시대-구분">국어사 시대 구분</a></li>
          <li><a class="gleaf" href="{{ $g }}geundae-gugeo/#근대-국어-17세기--19세기">근대 국어</a></li>
          <li><a class="gleaf" href="{{ $g }}geundae-gugeo/#현대-국어-20세기-">현대 국어</a></li>
        </ul></details></li>
      </ul></details></li>

      <li><details open><summary>8. 어문 규범</summary><ul>
        <li><details open><summary>한글 맞춤법</summary><ul>
          <li><a class="gleaf" href="{{ $g }}hangeul-matchumbeop/#총칙--세-가지-원칙">소리대로 · 어법에 맞도록</a></li>
          <li><a class="gleaf" href="{{ $g }}hangeul-matchumbeop/#띄어쓰기">띄어쓰기</a></li>
          <li><a class="gleaf" href="{{ $g }}hangeul-matchumbeop/#사이시옷-제30항">사이시옷</a></li>
          <li><a class="gleaf" href="{{ $g }}hangeul-matchumbeop/#자주-틀리는-맞춤법">자주 틀리는 맞춤법</a></li>
        </ul></details></li>
        <li><details open><summary>표준어 규정</summary><ul>
          <li><a class="gleaf" href="{{ $g }}pyojuneo/#발음-변화에-따른-표준어">발음 변화에 따른 표준어</a></li>
          <li><a class="gleaf" href="{{ $g }}pyojuneo/#어휘-선택-변화에-따른-표준어">어휘 선택에 따른 표준어</a></li>
          <li><a class="gleaf" href="{{ $g }}pyojuneo/#단수-표준어와-복수-표준어">단수 / 복수 표준어</a></li>
        </ul></details></li>
        <li><details open><summary>표준 발음법</summary><ul>
          <li><a class="gleaf" href="{{ $g }}pyojun-bareum/#받침의-발음">받침의 발음</a></li>
          <li><a class="gleaf" href="{{ $g }}pyojun-bareum/#음의-동화">음의 동화</a></li>
          <li><a class="gleaf" href="{{ $g }}pyojun-bareum/#된소리되기-경음화">된소리되기</a></li>
          <li><a class="gleaf" href="{{ $g }}pyojun-bareum/#음의-첨가">음의 첨가</a></li>
        </ul></details></li>
        <li><details open><summary>외래어 · 로마자 표기법</summary><ul>
          <li><a class="gleaf" href="{{ $g }}oeraeeo-romaja/#외래어-표기법">외래어 표기법</a></li>
          <li><a class="gleaf" href="{{ $g }}oeraeeo-romaja/#국어의-로마자-표기법">국어의 로마자 표기법</a></li>
        </ul></details></li>
      </ul></details></li>

    </ul></details></li>
  </ul>
</div>
{{ end }}
